
.course-details-form {
  display: flex;
  flex-direction: column;
}

.course-type {
  margin-top: 15px;
  margin-bottom: 15px;
}

// In global style styles.scss
//.highlight-date {
//  background: red;
//}

//.example-custom-date-class {
//  background: orange;
//  border-radius: 100%;
//}
